Checks: '-*,readability-braces-around-statements'
WarningsAsErrors: 'readability-braces-around-statements'
HeaderFilterRegex: '(^|/)(include|src)/([^./][^/]*/)*[^./][^/]*$'
FormatStyle: file
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
