---
Checks: '-*,readability-braces-around-statements'
WarningsAsErrors: 'readability-braces-around-statements'
HeaderFilterRegex: '(^|/)(src|tests)/([^./][^/]*/)*[^./][^/]*$'
FormatStyle: file
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
...
